{% extends 'gallery/base.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block body_class %}template-gallerypage{% endblock %}
{%block title%}{{page.title}}{%endblock%}
{% block content %}


<!--http://docs.wagtail.io/en/v1.9/topics/writing_templates.html    responsive embeds  for proper stylin-->
	<h1>{{ page.title }}</h1>
	{{ page.desc|richtext }}
	<div>
    {% for block in page.body %}
        <section>{% include_block block%}</section>
    {% endfor %}


	</div>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
      
        {{ post.specific.title}}
        {{ post.specific.images}}
    {% endfor %}

{% endblock %}