{% extends "clubHomePage/base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}template-eventsindexpage{% endblock %}
{%block title%}Album - {{page.get_parent.get_parent.title}}{%endblock%}
{%block slugurl%}{{page.get_parent.get_parent.slug}}{%endblock%}
{%block name%}{{page.get_parent.get_parent.title}}{%endblock%}
{%block navbargenerator%}<li><a href='/' id='homelink'>Home</a></li>
{%for pgc in page.get_parent.get_parent.get_children %}
{%ifequal pgc.slug page.get_parent.slug%}
<li class='active'><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%else%}
<li><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%endifequal%}
{%endfor%}

{%endblock%}

{%block customstyles%}
h1{
text-align:center;
font-family: 'Asap', sans-serif;
font-size:60px;
}
.intro{
margin-left:20px;
margin-right:20px;
text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;

font-family: 'Asap', sans-serif;
font-size:30px; 
}

.images{
position:relative;

}
.image{
max-width:100%;
border:1px solid #666666;
}

.items{
    display:flex;
}
.photosrow{
margin:5px;
display:flex;
flex-wrap:wrap;
align-items:center;

}
{%endblock%}
{% block content %}
<!--http://docs.wagtail.io/en/v1.9/topics/writing_templates.html    responsive embeds  for proper stylin-->
<br>

<h1>{{ page.title }}</h1>
<div class='intro'>{{ page.desc|richtext }}</div>
<div class='row photosrow'>
    {% for block in page.body %}
{%if forloop.counter0|divisibleby:3 %}
            </div>
            <br>
            <div class="row photosrow">
        {%endif%}
        {% if block.block_type == 'image' %}
            <div class='col-xs-4 images'>
                {%image block.value fill-1280x720-c100 as tmp%}
                <img src='{{tmp.url}}' class='image' width='100%'/>
            </div>
        {%else%}
            <div class='col-xs-4 images'>
                <div class="embed-responsive embed-responsive-16by9">
                    {%embed block.value.url%}
                 </div>
            </div>
        {% endif %}      
    {% endfor %}
</div>
 <br>
{% endblock %}
<!---->