{% extends "club_home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}template-eventsindexpage{% endblock %}
{%block title%}Album - {{page.get_parent.get_parent.title}}{%endblock%}
{%block slugurl%}{{page.get_parent.get_parent.slug}}{%endblock%}
{%block name%}{{page.get_parent.get_parent.title}}{%endblock%}
{%block navbargenerator%}<li><a href='/'>Technical Board Home</a></li><li><a href='/' id='homelink'>Home</a></li>
{%for pgc in page.get_parent.get_parent.get_children %}
{%ifequal pgc.slug page.get_parent.slug%}
<li class='active'><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%else%}
<li><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%endifequal%}
{%endfor%}

{%endblock%}

{%block customstyles%}
h1{
text-align:center;
font-family: 'Asap', sans-serif;
font-size:60px;
}
.intro{
padding:5px;
margin-left:20px;
margin-right:20px;
text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;

font-family: 'Asap', sans-serif;
font-size:30px; 
}

.images{
position:relative;
margin-top:15px;
margin-bottom:15px;
}
.image{
max-width:100%;
border:1px solid #666666;
}

.items{
    display:flex;
}
.photosrow{
display:flex;
flex-wrap:wrap;
align-items:center;

}

{%endblock%}
{% block content %}
<!--http://docs.wagtail.io/en/v1.9/topics/writing_templates.html    responsive embeds  for proper stylin-->
<br>

<h1 class="margin-setter">{{ page.title }}</h1>
<div class='intro margin-setter'>{{ page.desc|richtext }}</div>
<div class='row photosrow margin-setter'>
    {% for block in page.body %}

        {% if block.block_type == 'image' %}
            <div class='col-xs-6 images'>
                {%image block.value fill-1280x720-c100 as tmp%}
                <img src='{{tmp.url}}' data-toggle="modal" data-target="#myModal" id="{{forloop.counter0}}"class='image' width='100%'/>
            </div>
        {%else%}
            <div class='col-xs-6 images'>
                <div class="embed-responsive embed-responsive-16by9">
                    {%embed block.value.url%}
                 </div>
            </div>
        {% endif %}      
    {% endfor %}
</div>
<script type="text/javascript">
var x;
$(document).ready(function () {
    
        $('#myModal').on('show.bs.modal', function (e) {
            var image = $(e.relatedTarget).attr('src');
            x = image.substr(0,7) + 'original_'+image.substr(7);
            x = x.slice(0,-31) + 'jpg';
            $(".img-responsive").attr("src", x);
        });
});
</script>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-responsive" src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 <br>
{% endblock %}
<!---->