{% extends "club_home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-eventsindexpage{% endblock %}
{%block title%}Gallery - {{page.get_parent.title}}{%endblock%}
{%block slugurl%}{{page.get_parent.slug}}{%endblock%}
{%block name%}{{page.get_parent.title}}{%endblock%}
{%block navbargenerator%}<li><a href='/'>Technical Board Home</a></li><li><a href='/' id='homelink'>Home</a></li>
{%for pgc in page.get_parent.get_children %}
{%ifequal pgc.slug page.slug%}
<li class='active'><a href="/{{page.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%else%}
<li><a href="/{{page.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%endifequal%}
{%endfor%}
{%endblock%}
{%block customstyles%}
h1{
padding-top:4%;
text-align:center;
font-family: 'Asap', sans-serif;
font-size:60px;
}
.intro{
margin-left:18.3%;
margin-right:18.3%;
text-align: justify;
-moz-text-align-last: center;
text-align-last: center;
font-family: 'Asap', sans-serif;
font-size:30px;	
}
.images{
position:relative;
}
.image{
max-width:100%;
border:1px solid #666666;

-webkit-filter: blur(0px);
filter: blur(0px);
-webkit-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
}
.images:hover>.image{
-webkit-filter: blur(3px);
filter: blur(3px);
z-index:-99;
}

.message {
	position:absolute;
	top:40%;
	display:inline-block;
	opacity:0;
	font-size:30px;
	text-align:center;
	left:3%;
	z-index:202;
	width:94%;
	color:white;

	font-family: 'Asap', sans-serif;
	padding-top:3.25%;
	padding-bottom:3.25%;
}

.images:hover>.message{
opacity:1;
-webkit-transition:opacity 0.5s ease-in-out;
transition:opacity 0.5s ease-in-out;
}
.images:hover>.message-cover{
opacity:0.7;
-webkit-transition:opacity 0.5s ease-in-out;
transition:opacity 0.5s ease-in-out;
}
.message-cover{
	background-color:#2ca2c6;
	top:7.5%;
	height:85%;
	position:absolute;
	right:2.5%;
	left:2.5%;
	opacity:0;
	
	z-index:200;
}
.photosrow{
margin-right:18.3%;
margin-left:18.3%;
}
.images{
	padding-top:2.6%;
	padding-bottom:2.6%;
}
{%endblock%}
{% block content %}

<h1>{{ page.title }}</h1>

<div class="intro">{{ page.intro|richtext }}</div>

{%if albums%}
<div class='row photosrow'>
	{% for post in albums %}
	{%if forloop.counter0|divisibleby:2 %}
</div>
<div class="row photosrow">
	{%endif%}
	<a href='{%pageurl post%}'>
		<div class='col-xs-6 images'>
			{% image post.specific.cover fill-1280x720-c100 as tmp %}
			<img src='{{tmp.url}}' class='image'/>
			<div class="message-cover"></div>
			<p class='message'>{{ post.title }}</p>
		</div>
	</a>

	{% endfor %}
</div>
{%else%}
<div class="intro" > Keep Looking Here. </div>
{%endif%}

<br>
{% endblock %}

{%block socialicons%}
          {%if page.get_parent.specific.facebook_link%}
          <a href="{{page.get_parent.specific.facebook_link}}"><i class="contact-links fa fa-facebook fa-3x"  onmouseover="this.style.color='#3b5998'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.specific.twitter_link%}
          <a href="{{page.get_parent.specific.twitter_link}}"><i class="contact-links fa fa-twitter fa-3x" onmouseover="this.style.color='#00aced'" onmouseout="this.style.color='white'" ></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.specific.youtube_link%}
          <a href="{{page.get_parent.specific.youtube_link}}"><i class="contact-links fa fa-youtube-play fa-3x" onmouseover="this.style.color='#bb0000'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.specific.googleplus_link%}
          <a href="{{page.get_parent.specific.googleplus_link}}"><i class="contact-links fa fa-google-plus fa-3x social-gp" onmouseover="this.style.color='#d34836'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.specific.emailaddress%}
          <a href="mailto:{{page.get_parent.specific.emailaddress}}"><i class="contact-links fa fa-envelope fa-3x" onmouseover="this.style.color='#fbbc05'" onmouseout="this.style.color='white'"></i></a> 
          {%endif%}

{%endblock%}