{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block content %}
    <h1>{{ page.title }}</h1>
    <hr />
    <div class="carousel">{{page.carousel}}</div>
    <hr />
    <div class="about_us">{{ page.about_us|richtext }}</div>
    <hr />
    <div class="vision">{{page.vision}}</div>
    <hr />

    {% for post in blogpages %}
        {% with post=post.specific %}
            <hr />
            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            {{ post.specific.about_us|richtext }}
        {% endwith %}
    {% endfor %}
    <hr />

    <div class="related_links">
        {% for lin in page.related_links %}
         <a href="{{ lin.value.url }}"> {{ lin.value.name }}</a>
        {% endfor %}
    </div>



{% endblock %}
