{% extends "clubHomePage/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-eventsindexpage{% endblock %}

{%block slugurl%}{{page.get_parent.get_parent.slug}}{%endblock%}
{%block name%}{{page.get_parent.get_parent.title}}{%endblock%}
{%block navbargenerator%}<li><a href='/' id='homelink'>Home</a></li>
{%for pgc in page.get_parent.get_parent.get_children %}
{%ifequal pgc.slug page.get_parent.slug%}
<li class='active'><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%else%}
<li><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%endifequal%}
{%endfor%}

{%endblock%}

{% block content %}
    <h1>{{ page.title }}</h1>
    <h4>{{ page.start}} - </h4> <h4>{{ page.end}}</h4>
    
    
    {% for block in page.body %}
        <section>{% include_block block%}</section>
    {% endfor %}

   {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        
        {{ post.specific.body|richtext }}
    {% endfor %}


{% endblock %}