{% extends "clubHomePage/base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags%}

{% block body_class %}template-eventsindexpage{% endblock %}

{%block slugurl%}{{page.get_parent.get_parent.slug}}{%endblock%}
{%block name%}{{page.get_parent.get_parent.title}}{%endblock%}
{%block title%}{{page.title}} - {{page.get_parent.get_parent.title}}{%endblock%}
{%block navbargenerator%}<li><a href='/' id='homelink'>Home</a></li>
{%for pgc in page.get_parent.get_parent.get_children %}
{%ifequal pgc.slug page.get_parent.slug%}
<li class='active'><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%else%}
<li><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%endifequal%}
{%endfor%}
{%endblock%}

{%block customstyles%}
h1{
text-align:center;
font-family: 'Asap', sans-serif;
font-size:60px;
}
.intro{
margin-left:20px;
margin-right:20px;
text-align: justify;
-moz-text-align-last: center;
text-align-last: center;
font-family: 'Asap', sans-serif;
font-size:30px; 
}
.heading{
    text-align:center;
font-family: 'Asap', sans-serif;
font-size:40px;
}
.eventrow{
    margin:5px;
}

.info, .intro2{
padding-left:10px;
padding-right:10px;
font-size:18px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
-moz-text-align-last: center;
text-align-last: center;
}
.gist-meta{
    display:none;
}
.blob-num, .js-line-number{
    display:none;
}
.gist{
margin:20px;
    border-left:2px solid orange;
}
.gist-file, .gist-data{
    border-bottom:none;
    border-top:none;
    border-right:none;
}
.descrip{
    margin:20px;
    font-family:'Raleway',sans-serif;
    font-size:18px;
     text-align: justify;
}
.images{
margin:20px;

}
.image{
display:block;
max-width:100%;
border:2px solid black;
width:100%;
}
.photorow{
position:relative;
    width:100%;
}
.link{
    margin:20px;
    font-size:18px;
    font-family: 'Asap', sans-serif;
}
.quote{
    background-color:black;
    color:white;
    font-size:30px;
}
.caption{
    font-family: 'Asap', sans-serif;
    background-color:black;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size:17px;
    color:white;
    padding:10px;
    text-align:center;
}
.post-details{
    text-align:center;
    font-size:20px;
    font-family:'Raleway',sans-serif;
}
{%endblock%}

{% block content %}
    <br>
    <!--Title-->
    <h1>{{ page.title }}</h1>
    <!--Title-->
    <!--Details-->
    <p class="post-details"><b>Posted By</b> : {{ page.author }}<br><b>Posted On</b> : {{ page.date }}<br><b>Posted In</b> :
        {% with categories=page.categories.all %}{% if categories %}{% for category in categories %}
            {% image category.icon fill-28x28 style="vertical-align: middle" %}
            {{ category.name }}
            &nbsp;
        {% endfor %}{% endif %}{% endwith %}
    </p>
    <div class="intro">{{ page.intro }}</div>
    {% for block in page.body %}
        {%if block.block_type == 'gist' %}
            {%autoescape off%}{{ block.value }}{%endautoescape%}

        {%elif block.block_type == 'images'%}
            <div class="row photorow"><div class='col-xs-12 images'>
                <div class="caption">{{block.value.caption}}</div>
                {%image block.value.image original as tmp%}<img src='{{tmp.url}}' class='image'/>
            </div></div>
        {%elif block.block_type == 'paragraph'%}
            <div class="descrip">{{ block.value|richtext}}</div>
        {%elif block.block_type == 'Link'%}
            <div class="link"> Visit : <a href="{{ block.value.URL }}" >{{block.value.Text}}</a></div>
        {%elif block.block_type == 'embed'%}
            <div class="embed-responsive embed-responsive-16by9" style="margin:20px">
                {%embed block.value.url%}
            </div>
        {%elif block.block_type == 'Quote' %}
        <div class='quote'>
        <i class="fa fa-quote-left fa-5x" aria-hidden="true"></i> {{block.value.quote}}<i class="fa fa-quote-right fa-5x" aria-hidden="true"></i>
        <p style="text-align:right; padding:20px;">-{{block.value.Author}}</p>
        </div>
        {%elif block.block_type == 'heading' %}
        <h3 class="heading">{{block.value}}</h3>
    {% endif %}
    {% endfor %}    




<!--Tags-->
    {% if page.tags.all.count %}
        <div class="tags" style="margin:20px;"><h3 style="display:inline; font-family:'Raleway', sans-serif;">Tags <i class="fa fa-tags" style="color:#337ab7" aria-hidden="true"> &nbsp;:</i> </h3>
            &nbsp;
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="btn btn-primary ">{{ tag }}</a>
            {% endfor %}
            &nbsp;
        </div>
    {% endif %}
<!--Tags-->
{% endblock %}