{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-storyindexpage{% endblock %}

{% block content %}
	<h1>{{ page.title }}</h1>

	<div class="intro">{{ page.intro|richtext }}</div>
	<hr>
	{% for post in storypages %}
		{% with post=post.specific %}
		<h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>

			<p class="meta">Posted By {{ post.author }} | {{ post.date }} | Posted in &nbsp;
				{% with categories=post.categories.all %}
				{% if categories %}
				{% for category in categories %}
				{% image category.icon fill-28x28 style="vertical-align: middle" %}
				{{ category.name }}
				&nbsp;
				{% endfor %}
				{% endif %}
				{% endwith %}
			</p>
			{% if post.tags.all.count %}
    			<div class="tags">
        			<b>Tags:</b> &nbsp;
        			{% for tag in post.tags.all %}
            			<a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        			{% endfor %}
    			</div>
			{% endif %}
			<p class="intro">{{ post.intro }}</p>
		{% endwith %}
		<hr>
	{% endfor %}

{% endblock %}