{% extends "club_home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{%block title%}{{page.title}} - {{page.get_parent.title}}{%endblock%}
{% block body_class %}template-clubhomepage{% endblock %}
{%block slugurl%}{{page.slug}}{%endblock%}
{%block slugurlrepeat%}{{page.slug}}{%endblock%}
{%block name%}{{page.title}}{%endblock%}
{%block navbargenerator%}
<li><a href='/'>Technical Board Home</a></li>
<li class='active' ><a href='/' id='homelink'>Home</a></li>
{%for pgc in page.get_children %}
<li><a href="{{pgc.slug}}">{{pgc.title}}</a></li>
{%endfor%}
{%endblock%}
{%block customstyles%}

.intro{
margin-left:20px;
margin-right:20px;
padding-top:20px;
padding-left:20px;
text-align: justify;
font-family: 'Raleway', sans-serif;
font-size:20px;; 
}
.heading{
text-align:center;
font-family: 'Asap', sans-serif;
font-size:40px;
}
.eventrow{
margin:5px;
padding-top:20px;
padding-bottom:20px;
}

.activeevent{
position:relative;
padding:0px;
border:1px solid black;
border-radius:5px;
}
.activehead{
font-size:30px;
text-align:center;
font-family: 'Raleway', sans-serif;
padding:10px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
background-color:black;
color:white;
}
.info, .intro2{
padding-left:10px;
padding-right:10px;
font-size:18px;
font-family: 'Raleway', sans-serif;
text-align: justify;
-moz-text-align-last: center;
text-align-last: center;
}

.carousel{
padding:0px;
width:100%;
}
.carousel-inner{
width:100%;
}
.container{
padding:0px;
margin:0px;
width:100%; 
}
.post-details{
margin-left:10px;
font-size:18px;
font-family:'Raleway',sans-serif;
text-align:center;
}
{%endblock%}

{% block content %}

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative;">
    <ol class="carousel-indicators">
      {% for block in page.slideshow %}
      {% if block.block_type == 'Image' %}
      {%ifequal forloop.counter0 0%}
      <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
      {%else%}
      <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
      {%endifequal%}
      {% endif %}
      {% endfor %} 

    </ol>

    <div class="carousel-inner">


      {% for block in page.slideshow %}
      {% if block.block_type == 'Image' %}

      {%ifequal forloop.counter0 0%}
      <div class="item active">
        {%image block.value.image fill-5120x2867-c100 as tmp%}
        <img src='{{tmp.url}}' style='width:100%' />
        <div class="carousel-caption">
          <h3>{{block.value.caption}}</h3>
        </div>
      </div>
      {%else%}
      <div class="item"> 
        {%image block.value.image fill-5120x2867-c100 as tmp%}
        <img src='{{tmp.url}}'  style='width:100%' />
        <div class="carousel-caption">
          <h3>{{block.value.caption}}</h3>
        </div>
      </div>
      {%endifequal%}
      {% endif %}
      {% endfor %} 


    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>
<div class="row eventrow margin-setter">
  <div class="col-xs-6 events">
    {% for item in aevent  %} 
    <div class="col-md-12 activeevent">
      <h3 class="activehead"> Latest Event </h3>
      <div class='intro2' style="font-size:25px;" >{{ item.title }} </div>
      <p class="info">Event Starts At :{{ item.start }}<br>
        Event Ends At :{{ item.end }}<br>
        Location :{{ item.venue }}
      </p>
    </div>
    {% endfor %}
  </div>
  <div class="col-xs-6 events">
    {% for item in astory %}

    <div class="col-md-12 activeevent">
      <h3 class="activehead"> Latest Story </h3>
      <div class='intro2' style="font-size:25px;">{{ item.title }} </div>


      <p class="post-details" style="padding-bottom:25px;"><b>Posted By</b> : {{ item.specific.author }}<br><b>Posted On</b> : {{ item.specific.date }}<br>        </p>    

    </div>
    {% endfor %}
  </div>
</div>
<h2 class="heading margin-setter" >About Us</h2>
<div class='intro margin-setter'>{{ page.about_us|richtext }}</div>
<h2 class="heading margin-setter" >Vision</h2>
<div class='intro margin-setter'>{{ page.vision|richtext }}</div>
<br>
{% endblock %}

{%block socialicons%}

          {%if page.facebook%}
          <a href="{{page.facebook}}"><i class="contact-links fa fa-facebook fa-3x"  onmouseover="this.style.color='#3b5998'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.twitter%}
          <a href="{{page.twitter}}"><i class="contact-links fa fa-twitter fa-3x" onmouseover="this.style.color='#00aced'" onmouseout="this.style.color='white'" ></i></a> &nbsp;
          {%endif%}
          {%if page.youtube%}
          <a href="{{page.youtube}}"><i class="contact-links fa fa-youtube-play fa-3x" onmouseover="this.style.color='#bb0000'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.googleplus%}
          <a href="{{page.googleplus}}"><i class="contact-links fa fa-google-plus fa-3x social-gp" onmouseover="this.style.color='#d34836'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.email%}
          <a href="mailto:{{page.email}}"><i class="contact-links fa fa-envelope fa-3x" onmouseover="this.style.color='#fbbc05'" onmouseout="this.style.color='white'"></i></a> 
          {%endif%}

{%endblock%}