{% extends "club_home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-eventsindexpage{% endblock %}

{%block slugurl%}{{page.get_parent.slug}}{%endblock%}
{%block name%}{{page.get_parent.title}}{%endblock%}
{%block title%}Achievements - {{page.get_parent.title}}{%endblock%}
{%block navbargenerator%}<li><a href='/'>Technical Board Home</a></li><li><a href='/' id='homelink'>Home</a></li>
{%for pgc in page.get_parent.get_children %}
{%ifequal pgc.slug page.slug%}
<li class='active'><a href="/{{page.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%else%}
<li><a href="/{{page.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%endifequal%}
{%endfor%}
{%endblock%}
{%block customstyles%}
h1{
text-align:center;
font-family: 'Asap', sans-serif;
font-size:60px;
padding-bottom:10px;
}
.intro{
margin-left:20px;
margin-right:20px;
text-align: justify;
-moz-text-align-last: center;
text-align-last: center;
font-family: 'Asap', sans-serif;
font-size:30px; 
}
.heading{
text-align:center;
font-family: 'Asap', sans-serif;
font-size:40px;
}
.projectrow{
margin:5px;
}

.project{
position:relative;
padding:0px;
border:1px solid black;
border-radius:5px;
}

.projecttitle{
font-size:30px;
text-align:center;
font-family: 'Raleway', sans-serif;
padding:10px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
background-color:black;
color:white;
}

.info{
padding-left:25px;
padding-right:25px;
font-size:18px;
font-family: 'Raleway', sans-serif;
text-align: justify;
-moz-text-align-last: center;
text-align-last: center;
}
.photosrow{
padding-top:12px;
padding-bottom:12px;
}


.hideContent {
overflow: hidden;
line-height: 1em;
height: 2em;
}

.showContent {
line-height: 1em;
height: auto;
}
.showContent{
height: auto;
}

.show-more {
padding: 10px 0;
text-align: center;
}

{%endblock%}

{% block content %}
<br>
<h1 class="margin-setter">{{ page.title }}</h1>
<div class="intro margin-setter">{{ page.intro|richtext }}</div>
<br>
{%if achievement%}
<div class="row projectrow margin-setter">
    {% for post in achievement  %} 
    {%if forloop.counter0|divisibleby:2 %}
</div>
<div class="row photosrow margin-setter">
    {%endif%}   

    <div class="col-xs-6">
        <div class="col-md-12 project">
            {%with post.specific as item%}
            <a href="{%pageurl post%}" style="text-decoration:none;"><h3 class="projecttitle"> {{ item.title }} <i class="fa fa-external-link" aria-hidden="true"></i></h3></a>
            <p class="info">{{ item.date }}<br>
            </p>
            <div class="info content hideContent">
            {{item.competition_intro}}            </div>
            <div class="show-more">
                <a href="#">Show more</a>
            </div>
            {%endwith%}
        </div>
    </div>
    {% endfor %}
</div>
{%else%}
<div class="intro" style="color:#6a7e85"> Keep Looking Here. </div>
{%endif%}
<br>
<br>
<script type="text/javascript">
$(".show-more a").on("click", function() {
    var $this = $(this); 
    var $content = $this.parent().prev("div.content");
    var linkText = $this.text().toUpperCase();    
    
    if(linkText === "SHOW MORE"){
        linkText = "Show less";
        $content.switchClass("hideContent", "showContent", 400);
    } else {
        linkText = "Show more";
        $content.switchClass("showContent", "hideContent", 400);
    };

    $this.text(linkText);
    return false;
});

</script>
{% endblock %}

{%block socialicons%}
          {%if page.get_parent.specific.facebook_link%}
          <a href="{{page.get_parent.specific.facebook_link}}"><i class="contact-links fa fa-facebook fa-3x"  onmouseover="this.style.color='#3b5998'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.specific.twitter_link%}
          <a href="{{page.get_parent.specific.twitter_link}}"><i class="contact-links fa fa-twitter fa-3x" onmouseover="this.style.color='#00aced'" onmouseout="this.style.color='white'" ></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.specific.youtube_link%}
          <a href="{{page.get_parent.specific.youtube_link}}"><i class="contact-links fa fa-youtube-play fa-3x" onmouseover="this.style.color='#bb0000'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.specific.googleplus_link%}
          <a href="{{page.get_parent.specific.googleplus_link}}"><i class="contact-links fa fa-google-plus fa-3x social-gp" onmouseover="this.style.color='#d34836'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.specific.emailaddress%}
          <a href="mailto:{{page.get_parent.specific.emailaddress}}"><i class="contact-links fa fa-envelope fa-3x" onmouseover="this.style.color='#fbbc05'" onmouseout="this.style.color='white'"></i></a> 
          {%endif%}

{%endblock%}