{% extends "club_home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}achievmentsindexpage{% endblock %}

{%block slugurl%}{{page.get_parent.get_parent.slug}}{%endblock%}
{%block name%}{{page.get_parent.get_parent.title}}{%endblock%}
{%block title%}{{page.title}} - {{page.get_parent.get_parent.title}}{%endblock%}
{%block navbargenerator%}<li><a href='/'>Technical Board Home</a></li><li><a href='/' id='homelink'>Home</a></li>

{%for pgc in page.get_parent.get_parent.get_children %}
{%ifequal pgc.slug page.get_parent.slug%}
<li class='active'><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%else%}
<li><a href="/{{page.get_parent.get_parent.slug}}/{{pgc.slug}}">{{pgc.title}}</a></li>
{%endifequal%}
{%endfor%}
{%endblock%}

{%block customstyles%}
h1{
text-align:center;
font-family: 'Asap', sans-serif;
font-size:60px;
padding-top :15px;
}
.intro{
padding-bottom :15px;
margin-left:20px;
margin-right:20px;
text-align: justify;
-moz-text-align-last: center;
text-align-last: center;
font-family: 'Asap', sans-serif;
font-size:30px; 
}
.intro2{
padding-bottom :15px;
margin-left:20px;
margin-right:20px;
text-align: justify;
-moz-text-align-last: center;
text-align-last: center;
font-family: 'Asap', sans-serif;
font-size:20px; 
}

.body{
padding-left:10px;
padding-right:10px;
font-size:18px;
padding-bottom :5px;
font-family: 'Raleway', sans-serif;
text-align: justify;
-moz-text-align-last: center;
text-align-last: center;
}
.image{
max-width:100%;
border:1px solid #666666;

}
.items{
    display:flex;
}
.photosrow{
margin:5px;
display:flex;
flex-wrap:wrap;
align-items:center;
}

{%endblock%}



{% block content %}
<br>
<h1 class="margin-setter">{{ page.title }}</h1>
<p class="intro margin-setter">{{ page.date }}</p>
<div class="intro2 margin-setter">{{ page.competition_intro }}</div>
<br>
<div class="body margin-setter">{{ page.description|richtext }}</div>
<div class='row photosrow margin-setter'>
    {% for block in page.carousel %}
        {%if forloop.counter0|divisibleby:2 %}
            </div>
            <br>
            <div class="row photosrow margin-setter">
        {%endif%}
    {% if block.block_type == 'image' %}
        <div class='col-xs-6 images'>
            {%image block.value fill-1280x720-c100 as tmp%}
            <img src='{{tmp.url}}' class='image' width='100%'/>
        </div>
    {%else%}
        <div class='col-xs-6 images'>
            <div class="embed-responsive embed-responsive-16by9">
                {%embed block.value.url%}
            </div>
        </div>
        {% endif %}      
    {% endfor %}
</div>
<br>
<br>

{% endblock %}

{%block socialicons%}
          {%if page.get_parent.get_parent.specific.facebook_link%}
          <a href="{{page.get_parent.get_parent.specific.facebook_link}}"><i class="contact-links fa fa-facebook fa-3x"  onmouseover="this.style.color='#3b5998'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.get_parent.specific.twitter_link%}
          <a href="{{page.get_parent.get_parent.specific.twitter_link}}"><i class="contact-links fa fa-twitter fa-3x" onmouseover="this.style.color='#00aced'" onmouseout="this.style.color='white'" ></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.get_parent.specific.youtube_link%}
          <a href="{{page.get_parent.get_parent.specific.youtube_link}}"><i class="contact-links fa fa-youtube-play fa-3x" onmouseover="this.style.color='#bb0000'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.get_parent.specific.googleplus_link%}
          <a href="{{page.get_parent.get_parent.specific.googleplus_link}}"><i class="contact-links fa fa-google-plus fa-3x social-gp" onmouseover="this.style.color='#d34836'" onmouseout="this.style.color='white'"></i></a> &nbsp;
          {%endif%}
          {%if page.get_parent.get_parent.specific.emailaddress%}
          <a href="mailto:{{page.get_parent.get_parent.specific.emailaddress}}"><i class="contact-links fa fa-envelope fa-3x" onmouseover="this.style.color='#fbbc05'" onmouseout="this.style.color='white'"></i></a> 
          {%endif%}

{%endblock%}